
.btn{
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 10px;
    width: 100%;
}

.btn button{
    background-color: #0275d8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: all 0.1s linear 0.1s;
    
}

.btn button:hover{
    background-color: #3c6d97;
    cursor: pointer;
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.4);
}

.btn button:active{
    padding: 5px;
    transform: scale(0.1);
}